/*  The * below is used as a universal selector, so it creates default settings for your site */
* {
    font-size: 12pt;
    line-height: 40pt;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0e3d7;
}


h1{
    color: #301e1c;
    font-size: 50px;
    text-align: center;
    font-family: "snell-roundhand-lt-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}


p{
    text-align: left;
}


.container div {
  background-color: #f0e3d7;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}




/* how you want the structure of your submissions to appear below. display: grid; and display: flex; are good places to start */
.grid {

}

/* how do you want each individual submission to appear? do they have a border: 1px black solid; etc. a different font-family, font-size or color? */
.grid div {

}

/* some other things you should consider for css styling are: 
html, <h1>, <p>, <div>, .classes, #IDs, img, a */