/*  The * below is used as a universal selector, so it creates default settings for your site */
* {
    font-size: 12pt;
    line-height: 40pt;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0e3d7;
}

.image-archive {
    background-color: #453024;
    color: #6f8ea7;
}

h1{
    color: #301e1c;
    font-size: 50px;
    text-align: center;
    font-family: "snell-roundhand-lt-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.p1 {
    text-align: left;
    font-size: 23px;
    color: #6f8ea7;
    display: flex;  


/* Layout columns */
.left {
    width: 60%;         
    padding: 40px;
}

.right {
    width: 40%;         
}

.container div {
  background-color: #f0e3d7;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 0;
    margin: 20px 0;
}

header a {
    text-decoration: none; 
    color: #6f8ea7;
    font-size: 16pt;
}

header a:hover {
    text-decoration: underline;
}

}