/*  The * below is used as a universal selector, so it creates default settings for your site */
* {
    font-size: 12pt;
    line-height: 40pt;
    font-family: 'Times New Roman', Times, serif;
    color: #6f8ea7;

}

.pink-page {
    background-color: #f0e3d7;
}


#image-archive {
    background-color: #453024;
}

#image-archive h1 {
    color: #f0e3d7;
}

#image-archive header{
    border-bottom: 4px dotted #f0e3d7; /* color + thickness */

}

h1{
    color: #3a1c18;
    font-size: 70px;
    text-align: center;
    font-family: "snell-roundhand-lt-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.p1 {
    text-align: left;
    font-size: 27px;
    color: #6f8ea7;
    display: flex;  
    width: 60%;
    margin-left: 40px;
    line-height: 1.6; /* more space between lines */
    margin-bottom: 17px; /* space between paragraphs */
}

.container div {
  background-color: #f0e3d7;
  font-size: 30px;
  margin: 0 auto;
  padding: 200px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 190px;
    padding: 0;
    margin: 20px 0;
}

header {
  border-bottom: 4px dotted #3a1c18; /* color + thickness */
  padding-bottom: 1px; /* space between nav and line */
  margin-bottom: 40px;  /* space below the line */
}

header a {
    text-decoration: none; 
    color: #6f8ea7;
    font-size: 20pt;
}

header a:hover {
    text-decoration: underline;
}

.text-image {
    display: flex;
    gap: 70px;
    align-items: flex-start;
    padding: 70px;
}

.text-image img {
    width: 400px; 
    height: auto;
    background-color: #301e1c; 
    padding: 30px;        
}

.frame-middle {
    background-color: #ceafaa; /* mid tone */
    padding: 14px;
}

.frame-inner {
    background-color: #f0e3d7; /* light */
    padding: 10px;
}

.frame-inner img {
    display: block;
}


.frame-inner {
    position: relative; /* anchors the caption to the image */
}

.frame-inner img {
    display: block;
    width: 500px;
    height: auto;
}

.image-caption {
    position: absolute;
    top: -100px;              /* puts it ABOVE the image */
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #6f8ea7;
    font-style: italic;
    white-space: nowrap
}

/* code below is for stories tab for answer squares */



