* {
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    color: #6f8ea7;

}

.pink-page {
    background-color: #f0e3d7;
}


#image-archive {
    background-color: #453024;
}

#image-archive h1 {
    color: #f0e3d7;
}

#image-archive header{
    border-bottom: 4px dotted #f0e3d7; 
}

h1{
    color: #3a1c18;
    font-size: 70px;
    text-align: center;
    font-family: "snell-roundhand-lt-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.p1 {
    text-align: left;
    font-size: 27px;
    color: #6f8ea7;
    display: flex;  
    width: 60%;
    margin-left: 40px;
    line-height: 1.6;
    margin-bottom: 17px; 
}

.container div {
  background-color: #f0e3d7;
  font-size: 30px;
  margin: 0 auto;
  padding: 200px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 190px;
    padding: 0;
    margin: 10px 0;
}

header {
  border-bottom: 4px dotted #3a1c18; 
  padding-bottom: 1px; 
  margin-bottom: 40px;  
}

header a {
    text-decoration: none; 
    color: #6f8ea7;
    font-size: 20pt;
}

header a:hover {
    text-decoration: underline;
}

.text-image {
    display: flex;
    gap: 70px;
    align-items: flex-start;
    padding: 70px;
}

.text-image img {
    width: 400px; 
    height: auto;
    background-color: #301e1c; 
    padding: 30px;        
}

.frame-middle {
    background-color: #ceafaa; 
    padding: 14px;
}

.frame-inner {
    background-color: #f0e3d7; 
    padding: 10px;
}

.frame-inner img {
    display: block;
}


.frame-inner {
    position: relative; /* caption to the image */
}

.frame-inner img {
    display: block;
    width: 500px;
    height: auto;
}

.image-caption {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #6f8ea7;
    font-style: italic;
    white-space: nowrap
}

.flex-grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;       
    justify-content: center;

}

.flex-grid section {
    display: flex;
    flex-direction: column;      
    justify-content: center;     
    height: auto;
    width: 200px;
    padding: 40px;
    background-color: #301e1c;        
    border: 2px dotted #6f8ea7;
    box-shadow: 0 0 0 10px #301e1c;

}

.flex-grid section p {
    color: #91a9bd; 
    margin: 5px 0;   
    line-height: 1.4;
}

.questions{
    font-size: 17pt;
    display: flex;  
    width: 60%;
    margin-left: 40px;
    line-height: 1.6;
    margin-bottom: 50px; 
}


